parameters:
    level: 6
    paths:
        - src
    excludePaths:
        - vendor
    ignoreErrors:
        - '#Trait Hamzi\\NativeRag\\Traits\\Embeddable is used zero times and is not analysed\.#'
